@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import './reset.css';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Karla', 'Noto Sans KR', sans-serif;
}